################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/CandyGo.Api/bin/Debug/net8.0
/src/CandyGo.Api/obj
